{layout '../parts/@layout.latte'}

{block title}
    Register
{/block}

{block content}
  <div class="container content">
    <div class="row">
      <div class="col-4 offset-4">
        {control registerForm}
      </div>
    </div>
  </div>
{/block}
