{layout '../Parts/layout.latte'}

{block title}
  Úprava výrobcu
{/block}

{block content}
    {if $producer}
        <div class="col-10 offset-1">
        {control editForm}
        </div>
    {else}
        Výrobca neexistuje
    {/if}
{/block}

