parameters:
    dsn: 'mysql:host=localhost;dbname=lekaren_is'
    user: 'root'
    password: 'root'

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

database:
    default:
        dsn: %dsn%
        user: %user%
        password: %password%

services:
	router: App\RouterFactory::createRouter
	database: @database.default.context
	authenticator: Authenticator

	tb_drug: Models\Drug
	tb_user: Models\User
	tb_order: Models\Order
	tb_insurer: Models\Insurer
	tb_producer: Models\Producer
	tb_drug_insurer: Models\DrugInsurer
	tb_order_drug: Models\OrderDrug