<div class="row">
  <div class="col-12">
    <div><a href="{$basePath}/admin/user">Používatelia</a></div>
    <div><a href="{$basePath}/admin/product">Produkty</a></div>
    <div><a href="{$basePath}/admin/order">Objednávky</a></div>
    <div><a href="{$basePath}/admin/insurer">Poisťovne</a></div>
    <div><a href="{$basePath}/admin/producer">Výrobcovia</a></div>
  </div>
</div>
