<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


	<title>Prihlásenie</title>
</head>

<body>

{foreach $flashes as $flash}
    <div class="alert alert-danger flash {$flash->type}" role="alert">
        {$flash->message}
    </div>
{/foreach}
    <div style="width:100%; height:100vh; position:relative;">
        <div style="width:300px; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%)">
            {control loginForm}

            <div>
				<a href="{$basePath}/register" class="d-flex justify-content-center">Registrovať teraz</a>
            </div>
            <div>
				<a href="/{$basePath}" class="d-flex justify-content-center">Domov</a>
            </div>
        </div>

    </div>

</body>
</html>
